<%- include('../includes/header.ejs') %> <%-
include('../includes/navigation.ejs') %>
<h2 class="panel-title">Your Orders</h2>
<% orders.forEach(order => { %>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= order._id %></h3>
  </div>
  <div class="panel-body">
    <div class="container">
      <% order.items.forEach(item => { %>
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="thumbnail">
                <div class="caption">
                  <h3><%= item.product.title %></h3>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <h5><%= item.product.price %></h5>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <h5>Quantity: <%= item.quantity %> </h5>
            </div>
          </div>
      <% }) %>
    </div>
    
  </div>
</div>
<% }) %>

<%- include('../includes/footer.ejs') %>
